.private-container {
    display: block;
    text-align: center;
}

.transcript-text {
    display: inline-block;
    width: 700px;
    line-height: 1.5em;
    text-align: justify;
    font-size: 20px;
}

.segment-text {
    display: block;
    padding: 10px;
    font-size: 20px;
}